<div class="container">
    <h1>MantzIT - bot control</h1>
    <table class="table">
        <thead>
            <tr>
                <th>_id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Min</th>
                <td>Max</td>
                <th>Distance</th>
                <th>Position</th>
                <th>Facebook</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user._id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.age_filter_min}}</td>
                <td>{{user.age_filter_max}}</td>
                <td>{{user.distance_filter}}</td>
                <td>{{distance_filter}}</td>
                <td>{{user.pos.lat}}, {{user.pos.lon}}</td>
                <td><a href="http://www.facebook.com/{{user.facebook_id}}" target="_blank">{{user.name}} - Facebook</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td> </td>
                <td>
                    <input class="setting-update" maxlength="3" ng-model="user.age_filter_min">
                </td>
                <td>
                    <input class="setting-update" maxlength="3" ng-model="user.age_filter_max">
                </td>
                <td>
                    <input class="setting-update" ng-bind="distance_filter" maxlength="3" ng-model="user.distance_filter">
                </td>
                <td>
                    <input id="poslat" class="setting-update" ng-model="user.pos.lat">
                    <input id="poslon" class="setting-update" ng-model="user.pos.lon">
                </td>
            </tr>
        </tbody>
        <button class="btn btn-info" ng-click="pos()">Pos</button>
        <button class="btn btn-primary" ng-click="updateSetting()">Update !</button>
        <!--<a href={{user.photos[0].url}} target="_blank"><img src={{user.photos[0].url}} class="img-responsive img-thumbnail" alt={{user.name}} /></a> -->
        <button class="btn btn-primary" ng-click="changeActive(user._id)">Active Bot</button>
        <div id="map"></div>
        <script>
        var map;
        var markers = [];
        var mapListener = null;

        function initMap() {
            var uluru = {
                lat: 32.0122106,
                lng: 34.7636946
            };

            var uluru2 = {
                lat: 32.0132106,
                lng: 34.7636946
            };

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: uluru
            });

            /*var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });

            var marker2 = new google.maps.Marker({
                position: uluru2,
                map: map
            });*/
        }

        function setCenterMap(lat, lng) {
            map.setCenter({
                lat: lat,
                lng: lng
            });
            map.setZoom(14);
        }

        function addMarker(text, radius, lat, lng) {
            console.log('addMarker');
            var pos = {
                lat: lat,
                lng: lng
            };
            console.log(pos);

            var marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: pos
            });

            var iw1 = new google.maps.InfoWindow({
                content: text
            });

            google.maps.event.addListener(marker, "dragend", function(event) {
                document.getElementById("poslat").value = event.latLng.lat().toFixed(6);
                document.getElementById("poslon").value = event.latLng.lng().toFixed(6);
                console.log('changed to->', event.latLng.lat().toFixed(6), event.latLng.lng().toFixed(6));
                iw1.open(map, this);
            });

            // Add circle overlay and bind to marker
            var circle = new google.maps.Circle({
                map: map,
                radius: 1609.3 * radius, // miles
                fillColor: '#AA0000'
            });
            circle.bindTo('center', marker, 'position');

            markers.push(marker);
        }

        function getPosition() {
            return markers[0].getPosition();
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }

        // Shows any markers currently in the array.
        function showMarkers() {
            setMapOnAll(map);
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATM6nmo4S1rCJo7v96C8vGK4GSo1udpKM&callback=initMap">
        </script>
</div>
