<div class="container">
    <ul style="list-style-type:none" class="mdl-grid">
        <li ng-repeat="user in users" class="mdl-cell mdl-cell--6-co" style="margin-bottom:5px">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" style="color:white;background: #46B6AC">
                <h2 class="mdl-card__title-text">{{user.name || 'none'}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <p style="text-align: center">Age: {{user.age}}</span>
                <p style="text-align: center"><b>City: {{user.cityName}}</b></span>
                <p style="text-align: center">{{user.level}}</span>
                <p style="display:none">{{user}}</p>
                <div ng-if="user.contactInfo">
                  <p>Mobile: <a href="tel:{{user.contactInfo.mobile}}">{{user.contactInfo.mobile}}</a></p>
                  <p>Email: <a href="mailto:{{user.contactInfo.email}}">{{user.contactInfo.email}}</a></p>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="selectUser(user._id)">
                View Profile
                </a>
            </div>
            </div>
        </li>
    </ul>
</div>