<div class="container">
    <div>
        <div class="mdl-rangefield mdl-js-rangefield">
            <label class="mdl-rangefield__label" for="radius">Radius: {{radius}}km</label>
            <input class="mdl-slider mdl-js-slider" id="radius" type="range" min="0" max="100" ng-model="radius" tabindex="0">
        </div>
        <div class="mdl-rangefield mdl-js-rangefield">
            <label class="mdl-rangefield__label" for="maxAge">Max Age: {{maxAge}}</label>
            <input class="mdl-slider mdl-js-slider" id="maxAge" type="range" min="0" max="100" ng-model="maxAge" tabindex="0">
        </div>
        <label class="mdl-radio mdl-js-radio" for="option3">
            <input type="radio" id="option3" name="gender" ng-model="gender" value="" class="mdl-radio__button" checked>
            <span class="mdl-radio__label">Any</span>
         </label>  
        <label class="mdl-radio mdl-js-radio" for="option1">
            <input type="radio" id="option1" name="gender" ng-model="gender" value="Male" class="mdl-radio__button">
            <span class="mdl-radio__label">Male</span>
         </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option2">
            <input type="radio" id="option2" name="gender" ng-model="gender" value="Female" class="mdl-radio__button" >
            <span class="mdl-radio__label">Female</span>
         </label>
    </div>
    <div><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="search()">Search</button></div>
    <ul style="list-style-type:none" class="mdl-grid">
        <li ng-repeat="user in users" class="mdl-cell mdl-cell--6-co" style="margin-bottom:5px">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" style="color:white;background: #46B6AC">
                <h2 class="mdl-card__title-text">{{user.name || 'none'}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <p style="text-align: center">Age: {{user.age}}</span>
                <p style="text-align: center"><b>City: {{user.cityName}}</b></span>
                <p style="text-align: center">{{user.level}}</span>
                <p style="display:none">{{user}}</p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="selectUser(user._id)">
                View Profile
                </a>
            </div>
            </div>
        </li>
    </ul>
</div>