<style>
    .login-form{
  height: 668px;
  padding: 10px;
  display: block;
  position: relative;
  text-align: center;
    }
    .login-form::after{
        content: "";
  background: url('images/slider-12.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
    }
    .login-btn {
        width: 220px;
        margin-top: 20px;
    }
</style>
<div class="login-form">
    <form style="padding-top: 25px">
        <div style="margin-bottom:15px" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username" ng-model="username">
            <label class="mdl-textfield__label" for="username">Username</label>
        </div>
        <div style="margin-bottom:160px" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="pass" ng-model="password">
            <label class="mdl-textfield__label" for="pass">Password</label>
        </div>
        <div>
            <button class="login-btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="login()">Login</button>
        </div>
        <div>
            <button class="login-btn mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="signup()">New User</button>
        </div>
    </form>

    <p style="color: red;" ng-if="loginError">Login Failed</p>

</div>
