<div style="text-align: center;margin-bottom:5px">
    <div style="width:150px;height:150px;margin:auto" ng-style="{'background-image': 'url(https://api.adorable.io/avatars/150/'+profile._id+')'}"></div>
    <div class="mdl-card mdl-shadow--2dp" style="margin:auto">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">{{profile.name}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>Age: {{profile.age}}</p>
        <p>City: {{profile.cityName}}</p>
        <p>Functional Level: {{profile.level}}</p>
        <p>Description: {{profile.description}}</p>
        <p>Interests: {{profile.interests}}</p>
        <div ng-if="profile.contactInfo">
          <p>Mobile: <a href="tel:{{profile.contactInfo.mobile}}">{{profile.contactInfo.mobile}}</a></p>
          <p>Email: <a href="mailto:{{profile.contactInfo.email}}">{{profile.contactInfo.email}}</a></p>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button style="width:200px;margin:5px" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="like()" ng-disabled="liked">{{ likeStatus || 'Like' }}</button>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button style="width:200px;margin:5px" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="back()">Back</button>
      </div>
      
    </div>
</div>