<div class="container">
    <h1>MantzIT - Get your tinder matches</h1>
    <input class="setting-update" ng-model="username" ng-keydown="$event.which === 13 && searchUsers(username)">
    <button class="btn btn-primary" ng-click="searchUsers(username)">Search</button>
    <button class="btn btn-primary" ng-click="searchPrev(username)">
        <<< </button>
            <button class="btn btn-primary" ng-click="searchNext(username)"> >>> </button>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Distance</th>
                        <td>Ping Time</td>
                        <td>Fav</td>
                        <th>Photos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{$index+1}}</td>
                        <td>
                            <a href="#/profile/{{user._id}}">
                                <button class="btn btn-primary">{{user.name}}</button>
                            </a>
                            <span ng-if="user.lastActive" class="glyphicon glyphicon-circle-arrow-up
 icon-success">
                        </td>
                        <td>{{user.age}}</td>
                        <td>{{user.distance_mi}}</td>
                        <td>{{user.ping_time}}</td>
                        <td></td>
                        <td ng-if="user.fav">FAV</td>
                        <td ng-repeat="photo in user.photos">
                            <a href={{photo.url}} target="_blank"><img src={{photo.url}} class="img-responsive img-thumbnail" alt={{user.firstName}} /></a>
                        </td>
                        <td>
                            <!--                 <button class="btn btn-primary" ng-click="showMore(user._id)">More</button>-->
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="favorite(user._id)">favorite</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input ng-model="test" type="" name=""> {{test}}
</div>
