<div class="container">
    <h3>Login Details</h3>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="username" ng-model="username">
        <label class="mdl-textfield__label" for="username">Username</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="password" ng-model="password">
        <label class="mdl-textfield__label" for="password">Password</label>
    </div>  
    <h3>Personal Details</h3>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="name" ng-model="name">
        <label class="mdl-textfield__label" for="name">Name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="age" ng-model="age">
        <label class="mdl-textfield__label" for="age">Age</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="city" ng-model="city">
        <label class="mdl-textfield__label" for="city">City</label>
    </div>
    <div>
        <label class="mdl-radio mdl-js-radio" for="gender1">
            <input type="radio" id="gender1" name="gender" ng-model="gender" value="Male" class="mdl-radio__button">
            <span class="mdl-radio__label">Male</span>
         </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="gender2">
            <input type="radio" id="gender2" name="gender" ng-model="gender" value="Female" class="mdl-radio__button" >
            <span class="mdl-radio__label">Female</span>
         </label>
    </div>
    <h4>Functional Level<h4>
    <div>
        <label class="mdl-radio mdl-js-radio" for="option3">
            <input type="radio" id="option3" name="level" ng-model="level" value="Low" class="mdl-radio__button" checked>
            <span class="mdl-radio__label">Low</span>
         </label>  
        <label class="mdl-radio mdl-js-radio" for="option1">
            <input type="radio" id="option1" name="level" ng-model="level" value="Medium" class="mdl-radio__button">
            <span class="mdl-radio__label">Medium</span>
         </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option2">
            <input type="radio" id="option2" name="level" ng-model="level" value="High" class="mdl-radio__button" >
            <span class="mdl-radio__label">High</span>
         </label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" rows="3" id="description" ng-model="description"></textarea>
        <label class="mdl-textfield__label" for="description">Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="interests" ng-model="interests">
        <label class="mdl-textfield__label" for="interests">Interests</label>
    </div>

    <h3>Contact Info</h3>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="email" ng-model="email">
            <label class="mdl-textfield__label" for="email">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="phone" ng-model="phone">
            <label class="mdl-textfield__label" for="phone">Phone</label>
        </div>
    <br/><br/>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="signup()">Signup</button>
    <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="login()">Existing User</button>
</div>
