<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div style="margin:0 20px">
            <a class="brand" href="#">Mantz</a>
            <ul class="nav" ng-controller="navCtrl">
                <li class="divider-vertical"></li>
                <li ng-class="navClass('{{li.link}}')"><a href="#{{li.link}}"><i class="{{li.icon}} icon-white"></i>Matches</a></li>
                <li ng-class="navClass('{{li.link}}')"><a href="#{{li.link}}"><i class="{{li.icon}} icon-white"></i>User</a></li>
                <li ng-class="navClass('{{li.link}}')"><a href="#{{li.link}}"><i class="{{li.icon}} icon-white"></i>Messages</a></li>
            </ul>
            <div class="navbar-search pull-right"><i class="icon-search icon-white"></i> Search
                <input ng-model="query" pleaceholder="Search" class="search-query">
            </div>
        </div>
    </div>
</div>
