<div class="container">
    <h1>MantzIT - Get your tinder matches</h1>
    <h2 ng-if="msg">Ops! {{msg}} =[</h2>
    <table class="table" ng-if="!msg">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Age</th>
                <th>Distance</th>
                <th>Description</th>
                <td>Ping Time</td>
                <td>Fav</td>
                <th>Photos</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{$index+1}}</td>
                <td>
                    <a href="#/profile/{{user._id}}">
                        <button class="btn btn-primary">{{user.name}}</button>
                    </a>
                </td>
                <td>{{user.age}}</td>
                <td>{{user.distance_mi}}</td>
                <td>{{user.description}}</td>
                <td>{{user.ping_time}}</td>
                <td ng-if="user.fav">FAV</td>
                <td ng-repeat="photo in user.photos">
                    <a href={{photo.url}} target="_blank"><img src={{photo.url}} class="img-responsive img-thumbnail" alt={{user.firstName}} /></a>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="favorite(user._id)">Favorite</button>
                </td>
                <td>
                    <button class="btn btn-info" ng-click="passUser(user._id, $index)">Pass</button>
                    <button class="btn btn-danger" ng-if="!found" ng-click="likeUser(user._id, $index)">Like</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
